<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li> <a href=""> Carrito </a> </li>
            <li> <a href="/Logout"> Cerrar Sesión </a> </li>
        </ul>
    </header>
    <main>

        <h1> Carrito de Compras </h1>
        <section id="container">
            
            {% for item in carro %}

            <section class="cart-item"> 
                <h2> {{ item.titulo }} </h2>
                <p> Precio: {{ item.precio }}</p>
            </section>

            {% endfor %}

            <h3> Total: $ {{ total }} </h3>

        </section>


    </main>
</body>
</html>