<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Carrito de Compras </title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/bootstrap.min.css') }} "> 
</head>
<body>
    <header>
        <nav class="navbar-nav bg-dark border-bottom border-body navbar-expand{-sm|-md|-lg|-xl|-xxl}" data-bs-theme="dark">
            <ul class="nav">
                <li class="nav-item --bs-light-bg-subtle"> <a href="/Logout"> <button> Cerrar Sesión </button> </a> </li>
                <li class="nav-item --bs-light-bg-subtle"> <a href="/Lista_De_Canciones"> <button> Ir a la lista de canciones </button> </a> </li>
            </ul>
        </nav>
    </header>
    <main>

        <h1 class="text-center h1 text-success display-3 fw-bold"> Carrito de Compras </h1>
        <section id="container">
            
            {% for item in carro %}

            <ul class="list-group"> 
                <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="col-3">
                    <div class="row"> <h2 class="fw-bold"> {{ item.Titulo_Song }} </h2> </div>
                    <div class="col-3"> <h5> Precio: ${{ item.Precio_Song }}</h5> </div>
                    <div class="col-3"> <button> Eliminar </button> </div>
                </div>
                </li>
            </ul>

            {% endfor %}

            <h3 class="text-center text-secondary display-5"> Total: $ {{ total }} </h3>

        </section>


    </main>
    <script src=" {{ url_for('static', filename='js/bootstrap.min.js') }} "></script>
</body>
</html>