<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="Login" content="width=device-width, initial-scale=1.0">
    <title> Inicio de sesión </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/Login_Page.css')}}">
    
</head>

<body>
    <main>
        <fieldset>
            <form action="">
                <h1> Inicio de sesión </h1>
                <br>
                <label> Nombre de Usuario 
                <input type="text" name="User's_Login" placeholder="Ingrese su nombre de usuario...">
                <br>
                <label> Contraseña de Usuario 
                <input type="password" name="User's_Password" placeholder="Ingrese su contraseña aquí...">    
                </label>
                <br>
                <input id="Button_Submit" type="submit">
            </form>
        </fieldset>


    </main>
</body>

</html>