<!DOCTYPE html>
<html lang="en, es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lista de canciones </title>
</head>
<body>
    <header>

    </header>
    <main>
        <article> 
        
            <table> 

                <tr>   
                <th> Código </th>
                <th> Titulo </th>
                <th> Artista </th>
                <th> Genero </th>
                <th> Precio </th>
                <th> Duración </th>
                <th> Fecha de lanzamiento </th>
                <th> Cover </th>
                <th> Opciones </th>
                </tr>

                <tbody>
                    {% for Guardado_Datos_Songs in Lista_De_Canciones %}
                    <tr>
                    <td> {{ Guardado_Datos_Songs[0] }}  </td>
                    <td> {{ Guardado_Datos_Songs[1] }}  </td>
                    <td> {{ Guardado_Datos_Songs[2] }}  </td>
                    <td> {{ Guardado_Datos_Songs[3] }}  </td>
                    <td> {{ Guardado_Datos_Songs[5] }}  </td>
                    <td> {{ Guardado_Datos_Songs[6] }}  </td>
                    <td> {{ Guardado_Datos_Songs[7] }}  </td>
                    <td> {{ Guardado_Datos_Songs[8] }}  </td>
                        

                    <td> <button> <a href="{{ url_for ('Editar_Usuario', id = Guardado_Datos_Personas[0] )}}"> Editar </a> </button> 
                        <button> <a href="{{ url_for ('Eliminar_Usuario', id = Guardado_Datos_Personas[0] )}}"> Eliminar </a> </button>
                    </td>
                    </tr>   
                    {% endfor %}
                </tbody>
                
            </table>
        </article>
    </main>
</body>
</html>